<div>
    <h2>Binding the src property of an image:</h2>
    <img style="height: 200px;" [src]="itemImageUrl">

    <h2>Using bind- syntax:</h2>
    <img style="height: 200px;" bind-src="itemImageUrl">
    <hr />


    <!-- -------------------------------------------------------------- -->
    <h2>Binding to the colSpan property</h2>
    <table border=1>
        <tr>
            <td>Column 1</td>
            <td>Column 2</td>
        </tr>
        <!-- Notice the colSpan property is camel case -->
        <tr>
            <td [colSpan]="2">Span 2 columns</td>
        </tr>
    </table>


    <hr />

    <!-- ---------------------------------------------------------------- -->
    <h2>Button disabled state bound to isUnchanged property:</h2>
    <!-- Bind button disabled state to `isUnchanged` property -->
    <button [disabled]="isUnchanged">Disabled Button</button>
    <hr />

    <!-- ---------------------------------------------------------------- -->

    <h2>Binding to a property of a directive</h2>
    <p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>
    <hr />

    <!-- ----------------------------------------------------------------- -->

    <h2>Property binding and interpolation</h2>
    <p><img style="height: 200px;" src="{{itemImageUrl}}"> is the <i>interpolated</i> image.</p>
    <p><img style="height: 200px;" [src]="itemImageUrl"> is the <i>property bound</i> image.</p>

    <p><span>"{{interpolationTitle}}" is the <i>interpolated</i> title.</span></p>
    <p>"<span [innerHTML]="propertyTitle"></span>" is the <i>property bound</i> title.</p>

    <hr />

</div>